body {
  background: #000;
}

.header {
  height: 49px;
  padding: 20px 16px;
}

.header img {
  width:  110px;
}

.movie-single {
  width: 250px;
  height: 170px;
  display: inline-flex;
  color: white;
}